:root {
  --dark: #111;
  --light: #999;
}

body {
  background: var(--dark);
  color: var(--light);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid var(--light);
  text-align: center;
  font-size: 2em;
}

#copy {
  background: var(--dark);
  color: var(--light);
  /* border: 1px solid var(--light);
  border-radius: 4px; */
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 2em;
}
